<p> 
   <span style="color:steelblue;font-size:50px;font-style:italic;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">I <span style='color: red'>really</span> like data visualisation! </span> 
    
</p>
